<!DOCTYPE html>
<html>
  <head>
    <meta>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
		<meta name="google-signin-client_id" content="1014816795994-hs7gd43otlspf6qkvqulj10hhvloqiel.apps.googleusercontent.com">
		<script src="/static/script.js"></script>


    <title>Your Profile</title>
  </head>
  <body>
    <a href="" onclick="signOut();">Sign out</a>
  <script>
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
      });
    }
  </script>
  </body>
</html>
