<!DOCTYPE html>
<html>
  <head>
    <title>Your Profile</title>
  </head>
  <body>
    <title>Your Profile</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>

    <title>Your Profile</title>
  </head>
  <body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
        <header id="header">
          <h1><a href="/">Meet2Eat</a></h1>
          <nav id="nav">
            <ul>
              <li class="special">
                <a href="#menu" class="menuToggle"><span>Menu</span></a>
                <div id="menu">
                  <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/request">Request</a></li>
                    <li><a href="/matches">Matches</a></li>
                    <li><a href="/calendar">Calendar</a></li>
                    <li><a href="/places">Places To Go</a></li>
                    <li><a href="/about">About</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </nav>
        </header>

				<!-- Main -->
					<article id="main">
						<header>
							<h2>Profile</h2>
              <p>Make or edit your profile and be apart of the world of Meet2Eat.</p>
						</header>
						<section class="wrapper style5">
              {% if user %}
  							<div class="inner">

                  {% if user.name %}
                    <p>Name: {{user.name}}</p>
                  {% endif %}

                  {% if user.gender %}
                    <p>Gender: {{user.gender}}</p>
                  {% endif %}


                  <p>Email: {{user.email}}</p>

                  {% if user.phone %}
                    <p>Phone: {{user.phone}}</p>
                  {% endif %}

                  {% if user.bio %}
                    <p>Bio: {{user.bio}}</p>
                    <form method = "POST">
                      <button>Edit</button>
                    </form>
                  {% else %}
                    <form method="POST">
                      <select name="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                      </select></br>

                      <input name = "name" placeholder = "Name" type = "text" required></br>
                      <input name = "phone" placeholder = "Phone" type = "text" required></br>
                      <textarea rows = '4' columns = '50' name = "bio" placeholder = "Bio" type = "text" required></textarea></br>

                      <button>Submit</button>
                    </form>
                  {% endif %}
                {% else %}
                	<div class="inner">
                      <p>Please login to make a profile.</p>
                  </div>
                {% endif %}
							</div>
						</section>
					</article>

				<!-- Footer -->
        <footer id="footer">
					<ul class="icons">
						<li><a href="https://twitter.com/meet2eat1" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://instagram.com/meet2eatdining" target="_blank" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Meet2Eat</li>
					</ul>
				</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

  </body>
</html>
