<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="http://www.clker.com/cliparts/L/2/X/P/Z/S/plate-fork-spoon-no-text-md.png">
    <title>Request</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>

  </head>
  <body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
        <header id="header">
          <h1><a href="/">Meet2Eat</a></h1>
          <nav id="nav">
            <ul>
              <li class="special">
                <a href="#menu" class="menuToggle"><span>Menu</span></a>
                <div id="menu">
                  <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/request">Request</a></li>
                    <li><a href="/matches">Matches</a></li>
                    <li><a href="/calendar">Calendar</a></li>
                    <li><a href="/places">Places To Go</a></li>
                    <li><a href="/about">About</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </nav>
        </header>

				<!-- Main -->
					<article id="main">
						<header>
							<h2>Request</h2>
							<p>Fill the form to find your next food buddy.</p>
						</header>
						<section class="wrapper style5">
              {% if user %}
                {% if user.name %}
    							<div class="inner">
                    <p><b><i>Your Request</i></b></p>

                    {% if user.genderPref %}
                      <p>Gender Preference: {{user.genderPref}}</p>
                    {% endif %}
                    {% if user.location %}
                      <p>Location: {{user.location}}</p>
                    {% endif %}

                    {% if user.num %}
                      <p>Number of People: {{user.num}}</p>
                    {% endif %}

                    {% if user.time %}
                      <p>Date & Time: {{user.date}} at {{user.time}}</p>
                      <form method = "POST">
                        <button>Edit</button>
                      </form>
                    {% else %}
                      <form method="POST">

                        <select name="genderPref">
                          <option value="Either">No Gender Preference</option>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                        </select></br>

                        <input name = "location" placeholder = "Location" type = "text"></br>
                        <input name = "num" placeholder = "Number of People" type = "text"></br>

                       <p style="color: gray">
                          Date: <input name = 'date' type = 'date' style="color: gray"></br>
                       </p>

                       <p style="color: gray">
                          Time: <input name = 'time' type = 'time' style="color: gray"></br>
                       </p>
                        <button>Submit</button>
                      </form>
                    </div>
                    {% endif %}
                  {% else %}
                  <div class="inner">
                    <p>Please create a profile before making a request</p>
                  </div>
                  {% endif %}
                {% else %}
                	<div class="inner">
                    <p>Please login to see the request you've made</p>
                  </div>
                {% endif %}
						</section>
					</article>

				<!-- Footer -->
        <footer id="footer">
          <ul class="icons">
            <li><a href="https://twitter.com/meet2eat1" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.instagram.com/meet2eatdining" target="_blank" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
          </ul>
          <ul class="copyright">
            <li>&copy; Meet2Eat</li>
          </ul>
        </footer>


			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

  </body>
</html>
